
.margin-0{
    margin-left: 5%;
  }
  
  .margin-1{
    margin-left: 50%;
  }
  
  .super-marginbt{
    margin-bottom: 10%;
  }
  
  .line-hgt{
    line-height: 30%;
  }

  .border-cl-mandy{
    border: 1px solid #ea4a56;
  }
  
  .bg-cl-mandy{
    background-color: #ea4a56;
  }

  .bg-cl-charade{
    background-color: #292d39;
  }


  .bg-cl-charade-mid{
    background-color: #272b34;
  }

  .bg-cl-tapa{
    background-color: #75726e;
  }

  .bg-cl-midGray{
    background-color: #6b6b6c;
  }
  
  .invert-cl{
    filter: invert(1);
  }
  
  .size-menu{
    width: 20%;
    height: auto;
  }
  
  .disp0{
    font-size: 10rem;
  }

  .font0H{
    font-size: 3rem;
    }

  .cl-gray-pal-jumbo{
      color: #737376;
  }      